<h1><%= @author.name %>'s Notes</h1>
<% @notes_by_language.each_pair do |language, language_notes| %>
  <h3><%= language.name %></h3>
  <% language_notes.each do |language_note| %>
    <%= link_to language_note.title, note_url(language_note) %>
    <br>
  <% end %>
<% end %>