<div class="row">
  <div class="span12">
    <h3>
      <span class="noteTitle">
        <%= link_to (@author.name + "'s Notes"), user_notes_url(@author) %>
      </span>
    </h3>
    <span class="languageName">
      In <%= link_to @note.language.name, language_url(@note.language) %>
    </span>
    <div class="noteShowView"></div>

    <script type="text/javascript">
      <% if ! @self_page && current_user.known_languages.include?(@note.language) %>
        $(LLC.showRevisableNote(<%= Note.where(:id => @note.id)
          .includes(:comments, :revisions)
          .to_json(:include => [:comments, :revisions])
          .html_safe %>, $('.noteShowView')));
      <% else %>
        $(LLC.showNote(<%= Note.where(:id => @note.id)
          .includes(:comments, :revisions)
          .to_json(:include => [:comments, :revisions])
          .html_safe %>, $('.noteShowView')));
      <% end %>
    </script>
  </div>
</div>
