<div class="row">
  <div class="span12">
    By <%= link_to @note.author.name, user_url(@note.author) %>
    in <%= link_to @note.language.name, language_url(@note.language) %>
    <div class="noteShowView"></div>

    <script type="text/javascript">
      <% if ! @self_page && current_user.known_languages.include?(@note.language) %>
        $(LLC.showRevisableNote(<%= Note.where(:id => @note.id)
          .includes(:comments, :revisions)
          .to_json(:include => [:comments, :revisions])
          .html_safe %>, $('.noteShowView')));
      <% else %>
        $(LLC.showNote(<%= Note.where(:id => @note.id)
          .includes(:comments, :revisions)
          .to_json(:include => [:comments, :revisions])
          .html_safe %>, $('.noteShowView')));
      <% end %>
    </script>
  </div>
</div>
