<h1><%= link_to @revision.note.title, note_url(@revision.note) %>
  by <%= link_to @revision.note_author.name, user_url(@revision.note_author) %></h1>
<h2>Revised by <%= link_to @revision.revisor.name, user_url(@revision.revisor) %></h2>
<%= @revision.commentary %>