.centerbox {
  padding-top: 50px;
  text-align: center;
}

.centerboxCount {
  font-size: 50px;
  padding-bottom: 20px;
}

.centerboxUnit {
  font-size: 18px;
}

.centerboxVerb {
  font-size: 44px;
  padding-top: 12px;
  padding-bottom: 18px;
}

.centerboxLang {
  font-size: 18px;
  padding-bottom: 30px;
}

.centerboxList {
  padding-top: 0px;
  font-size: 24px;
}