.llcfill {
  background-color: #666;
}

.llctext {
  background-color: #dba;
}

.lobnox {
  background-color: #11ff11;
  color: #ff11ff;
  font-weight: bold;
}

.comment {
  color: blue;
  font-weight: bold;
}