.llcfill {
  background-color: #444;
}

.llctext {
  background-color: #cba;
  color: #333;
}

.llctext a {
  color: #333;
}

.llctext a:hover {
  color: #666;
  text-decoration: none;
}

.noteBody {
  color: #444;
  background-color: #fed;

}

.rebuffed {
  padding-left:    16px;
  padding-right:   16px;
  padding-top:     16px;
  padding-bottom:  16px;
}

.titularRebuffed {
  padding-left:    24px;
  padding-right:   24px;
  padding-top:      6px;
  padding-bottom:  24px;
}

/*.buffer {
  margin-left:    16px;
  margin-right:   16px;
  margin-top:     16px;
  margin-bottom:  16px;
}*/

.clearDiv {
  clear: both;
}

.form-inline {
  float: left;
}

.header {
  min-width: 900px;
  padding-top: 10px;
}

.header a {
  font-weight: bold;
  font-size: medium;
  color: #aaa;
}

.header a:hover {
  color: #fff;
  text-decoration: none;
}

.noteShowView {
}

.noteBody {
}

.alert {
  font-weight: bold;
  font-size: medium;
  color: #333;
  background-color: #f66;
}

.notice {
  font-weight: bold;
  font-size: medium;
  color: #44b;
}

.languageName {
  color: #642;
}

.languageName a {
  color: #642;
}

.languageName a:hover {
  color: #882;
  text-decoration: none;
}

.listTitle a {
  font-weight: bold;
  text-decoration: none;
}

.noteTitle a {
  color: #333;
  text-decoration: none;
}

.noteTitle a:hover {
  color: #686;
}

.userName a {
  color: #333;
  text-decoration: none;
}

.userName a:hover {
  color: #a66;
}

.comment {
  color: #199;
  font-weight: bold;
}

.comment:hover {
  color: #0aa;
}

.revision {
  color: #991;
  font-weight: bold;
}

.revision:hover {
  color: #aa0;
}

.commentPocket {
  position: relative;
}

.revisionPocket {
  position: relative;
}

.reviewText {
  position: absolute;
  bottom: 16px;
  background-color: #9ab;
  color: #444;
  text-decoration:line-through;
}

.faint {
  color: #888;
}