.noteBox {
  background-color: #fed;
  margin-left: 8px;
  padding-bottom: 14px;
  width: 876px;
}

#noteBodyParentNode {
  width: 840px;
}

#commentButton {
  margin-top: 0px;
}

#revisionButton {
  margin-top: 0px;
}

#commentTextBox {
  margin: 14px;
}

#revisionTextBox {
  margin: 14px;
}

#bspc {
  width: 340px;
  height: 1px;
}

.comment {
  position: relative;
  color: #199;
  font-weight: bold;
}

.revision {
  position: relative;
  color: #991;
  font-weight: bold;
}

.comment:hover {
  position: relative;
  color: #0aa;
}

.revision:hover {
  position: relative;
  color: #aa0;
}

.commentText {
  position: absolute;
  bottom: 25px;
  background-color: #add;
  color: #444;
  border: 3px solid #444;
  padding: 3px 6px;
  text-align: center;
  white-space: pre;
}

.revisionText {
  display: inline;
  position: absolute;
  bottom: 25px;
  background-color: #ee9;
  color: #d33;
  border: 3px solid #444;
  padding: 3px 6px;
  text-align: center;
  text-decoration:line-through;
  white-space: pre;
}