.noteBox {
  background-color: #fed;
  margin-left: 8px;
  padding-bottom: 14px;
  width: 876px;
}

#noteBodyParentNode {
  width: 840px;
}

.comment {
  color: #199;
  font-weight: bold;
}

.revision {
  color: #991;
  font-weight: bold;
}

.comment:hover {
  color: #0aa;
}

.revision:hover {
  color: #aa0;
}

.markPocket {
  position: relative;
}

.commentText {
  position: absolute;
  bottom: 25px;
  background-color: #add;
  color: #444;
  border: 3px solid #444;
  padding: 3px 6px;
  text-align: center;
}

.revisionText {
  display: inline;
  position: absolute;
  bottom: 25px;
  background-color: #ee9;
  color: #d33;
  border: 3px solid #444;
  padding: 3px 6px;
  text-decoration:line-through;
}