<br>
<div class="row">
  <form>
    <div class="span" id="bspc" />
    <div class="span">
      <input type="button" class="btn" value="Revise" id="revisionButton">
      <input type="button" class="btn" value="Comment" id="commentButton">
    </div>
  </form>
</div>
<div class="row">
  <div class="span4">
  </div>
  <div class="span3">
    <center>
      <div id="markForm" class="form-inline"></div>
    </center>
  </div>
</div>

