<form>
  <input type="button" value="Revise" id="revisionButton">
</form>

<form>
  <input type="button" value="Comment" id="commentButton">
</form>

<div id="revisionText"></div>
<div id="saveRevision"></div>