<form>
  <input type="button" value="Revise" id="revisionButton">
</form>

<form>
  <input type="button" value="Comment" id="commentButton">
</form>

<div id="commentForm"></div>
<div id="revisionForm"></div>