<br>
<div class="row">
  <form>
    <div class="span4">
      <br>
    </div>
    <div class="span3">
      <center>
        <input type="button" value="Revise" id="revisionButton">
        <input type="button" value="Comment" id="commentButton">
      </center>
    </div>
  </form>
</div>
<div class="row">
  <div class="span4">
    <br>
  </div>
  <div class="span3">
      <br>
      <div id="commentForm" class="form-inline"></div>
      <div id="revisionForm" class="form-inline"></div>
  </div>
</div>

