<%= stylesheet_link_tag "bootstrap.css" %>
<%= stylesheet_link_tag "welcome.css" %>

<div class="welcome">
	<div class="welcome-title">
		Language Learning Commons
	</div>
	<div class="welcome-subtitle">
		<%= link_to "Luke Persola's", "http://www.lukepl.com/"%> capstone project at
		<%= link_to "App Academy", "http://www.appacademy.io/" %>
	</div>
	<div class="features">
		<table>
			<tr>
				<td class="feature-text">
					<div>Language Learning Commons helps people learn languages</div>
				</td>
				<td class="feature-pic">
					<div class="test-pic">

					</div>
				</td>
			</tr>
			<tr>
				<td class="feature-text">
					<div>Connect with native speakers, and help others learn languages you speak</div>
				</td>
				<td class="feature-pic">
					<div class="test-pic">

					</div>
				</td>
			</tr>
					<tr>
				<td class="feature-text">
					<div>Connect with native speakers, andseijf osidf sdf sdf sdfods fosdf sdof sdopf sdof sd fosdf sodfusdofusdofu help others learn languages you speak</div>
				</td>
				<td class="feature-pic">
					<div class="test-pic">

					</div>
				</td>
			</tr>
			<tr>
				<td class="feature-text">
					<div>Connect with native speakers, and help others learn languages you speak</div>
				</td>
				<td class="feature-pic">
					<div class="test-pic">

					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="welcome-prompts-buffer"></div>
	<div class="welcome-prompts">
	</div>
</div>